html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
}
a {
  text-decoration: none;
}
.container-main {
  width: 55vw;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-lateral { 
  min-width: 400px;
  height: 63vh;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.foto-perfil {
  display: flex;
  justify-content: cen901ter;
}
.foto-perfil img {
  width: 150px;
  border-radius: 50%;
}
.group {
  width: 80%;
  border: 1px solid white;
  box-shadow: .1em .1em 1em black;
  border-radius: 10px;
}

.login {
  height: 62%;
}

/* Botões e links */
.btn-continue {
  background: rgba(106, 150, 231, 0.651);
  color: white;
  padding: .6em;
  border-radius: 20px;
  font-size: 1.2em;
}

.link-blue {
  color: rgb(29, 112, 206);
}

.obter-app {
  width: 85%;
  height: 10vh;
  font-size: 1.2em;
}

.obter-app .download img {
  width: 150px;
}

 @media(max-width: 965px) {
  .foto-celular {
    display: none;
  }
  .group {
    border:  none;
    box-shadow: none;
  }
  .container-main {
    width: 100vw;
  }
}
@media(min-width: 966px) and (max-width: 1400px) {
  .container-main {   
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}